@use "../Design/Colors" as color;


.o-interactive-panel{
  --m-card-height: auto;
  --m-card-padding: 20px 20px 0px 20px;


  .splide{
    padding: unset;
    border: 2px solid red;


    &__arrows{
      display: none;
    }

    &__pagination{
      justify-content: flex-start;
      width: inherit;
      border: 2px solid red;

      &__page{
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background: rgba(81, 77, 77, 0.44);

        &.is-active{
          background: color.$primary-color;
        }

      }
    }
  }
}