@use '../../../styles/main.module.scss'as *;

:root {
  --m-card-background: rgba(255, 255, 255, 0.73);
  --m-card-padding: 24px;
  --m-card-box-shadow: #{$box-shadow-xs};
  --m-card-border-radius: 20px 20px 60px 20px;
  --m-card-content-background: #{$color-white};
  --m-card-height: 100%;
  --m-card-image-height: 250px;
  --m-card-image-object-fit: cover;
  --m-card-labels-gap: 8px;
  --m-card-title-margin-top: 12px;
  --m-card-description-margin-top: 4px;
  --m-card-buttons-margin-top: 24px;
  --m-card-buttons-gap: 16px;
  --m-card-overlapped-margin-top: -37px;
  --m-card-overlapped-side-distance-mobile:  60px;
  --m-card-overlapped-side-distance-tablet:  70px;
  --m-card-overlapped-side-distance-desktop:  80px;
}

.m-card {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: var(--m-card-border-radius);

  .card-container {
    position: relative;
    background: var(--m-card-background);
    padding: var(--m-card-padding);
    box-shadow: var(--m-card-box-shadow);
    //border-radius: var(--m-card-border-radius);
    height: var(--m-card-height);
    display: flex;
    flex-direction: column;
    overflow: hidden;
      border-radius: var(--m-card-border-radius);

    .content {
      background: transparent;
      height: 100%;
      @include flex(column, space-between, flex-start);


      .labels {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: var(--m-card-labels-gap);
      }

      .title {
        margin-top: var(--m-card-title-margin-top);
      }

      .description {
        margin-top: var(--m-card-description-margin-top);
      }

      .buttons {
        @include flex(column, center, flex-start);
        margin-top: var(--m-card-buttons-margin-top);
        gap: var(--m-card-buttons-gap);
        width: 100%;
        gap: 20px;

      }

      .action-content{
        width: 100%;
      }
    }

    .image {
      position: relative;
      height: auto;
      width: 100%;

      img {
        height: var(--m-card-image-height);
        object-fit: var(--m-card-image-object-fit);
      }
    }


    &.m-card-overlapped {
      width: 100%;
      padding: unset;
      align-items: center;
      box-shadow: unset;
      background: transparent;

      .image {
        position: relative;
      }

      .content {
        background: var(--m-card-background);

        width: calc(100% - var(--m-card-overlapped-side-distance-mobile));
        position: relative;
        margin-top: var(--m-card-overlapped-margin-top);
        border-radius: var(--m-card-border-radius);
        margin-bottom: 20px;
        box-shadow: var(--m-card-box-shadow);
        padding: var(--m-card-padding);

        .labels{
            margin-top: unset;
        }
      }
    }

    &.image-full-width {
      padding: unset;

      .content {
        padding: var(--m-card-padding);
        border-radius: var(--m-card-border-radius);

        .labels {
          margin-top: unset;
        }
      }
    }
  }
}


@media (min-width: 768px){
  .m-card{
    .card-container{
      &.m-card-overlapped {
        .content{
          width: calc(100% - var(--m-card-overlapped-side-distance-tablet));
        }
      }
    }
  }
}

@media (min-width: 992px){
  .m-card{
    .card-container{
      &.m-card-overlapped {
        .content{
          width: calc(100% - var(--m-card-overlapped-side-distance-desktop));
        }
      }
    }
  }
}