@use '../../../styles/main.scss' as *;

:root{

}

.a-footer-link{
    .main-link{
        font-weight: $font-weight-xl;
        font-size: $font-size-footer-main-link;
        line-height: 24px;
        color: #7AC6B6;
    }

    .secondary-link{
        font-weight: $font-weight-xl;
        font-size: $font-size-footer-secondary-link;
        line-height: 24px;
        color: red;
    }
}