@use '../../../styles/main.module.scss' as *;

:root{
    --a-footer-main-link-font-weight: #{$font-weight-xl};
    --a-footer-main-link-font-size: #{$font-size-footer-main-link};
    --a-footer-main-link-line-height: 24px;
    --a-footer-main-link-color: #{$primary-color};
    --a-footer-main-link-margin-botton: 5px;
    
    --a-footer-secondary-link-font-weight: #{$font-weight-l};
    --a-footer-secondary-link-font-size: #{$font-size-footer-secondary-link};
    --a-footer-secondary-link-line-height: 24px;
    --a-footer-secondary-link-color: #{$extra-color};
}

.a-footer-link{
    .main-link{
        font-weight: var(--a-footer-main-link-font-weight);
        font-size: var(--a-footer-main-link-font-size);
        line-height: var(--a-footer-main-link-line-height);
        color: var(--a-footer-main-link-color);
        margin-bottom: var(--a-footer-main-link-margin-botton);
    }

    .secondary-link{
        font-weight: var(--a-footer-secondary-link-font-weight);
        font-size: var(--a-footer-secondary-link-font-size);
        line-height: var(--a-footer-secondary-link-line-height);
        color: var(--a-footer-secondary-link-color);
    }
}