@use '../../../styles/main.module.scss' as *;


:root{
  --animated-title-transition-duration: 1s;
  --animated-title-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  --a-animated-text-color: #{$color-black};

}


.animated-title {
    opacity: 0;
    color: var(--a-animated-text-color);
    margin: unset;

    span {
      display: inline-block;
    }
  
    >span {
      overflow: hidden;
      transition-duration: var(--animated-title-transition-duration);
      transition-timing-function: var(--animated-title-transition-timing-function);
  
      >span {
        position: relative;
        transform: translateY(100%);
        transition: inherit;
      }
    }
  
    @for $i from 2 through 255 {
      >span:nth-child(#{$i}) {
        transition-delay: #{$i * 0.05}s;
      }
    }
  
    &.slide-in {
      opacity: 1;
  
      >span {
        >span {
          transform: translateY(0);
        }
      }
    }
  }