@use '../../../styles/main.module.scss' as *;

:root{
  --a-custom-shape-margin-top: 0px;
  --a-custom-shape-margin-bottom: 0px;
  --a-custom-shape-margin-right: 0px;
  --a-custom-shape-margin-left: 0px;
}

.a-custom-shape{
  width: 100%;
  height: 100%;

  //opacity: 0.5; + opacitate
  //transform rotate --- sa vina custom prin proprietate
}