$primary-color: #4cbfa6;
$secondary-color: #f6ebf4;
$tertiary-color: black;
$extra-color: #301008;
$border-color: rgb(110, 108, 108);

$background-color-primary: $primary-color;
$background-color-secondary: $secondary-color;
$background-color-tertiary: $tertiary-color;

$color-black: #000000;
$color-white: #ffffff;