$transition-duration-slow: 1s;
$transition-duration-slower: .5s;
$transition-duration-normal: .37s;
$transition-duration-faster: .3s;
$transition-duration-fast: .2s;
$transition-duration-ultra-fast: .15s;