@use '../../../styles/main.module.scss' as *;

:root{
    --a-button-slide-second-background: #{$tertiary-color};
    --a-button-slide-second-background-hover: #{$primary-color};
    --a-button-slide-second-animation-transition: #{$transition-duration-normal};
    --a-button-slide-second-animation-transition-fast: #{$transition-duration-fast};
    --a-button-slide-second-border-radius: #{$border-radius-0};
    --a-button-slide-second-font-size: 20px;
    --a-button-slide-second-padding: 20px 30px;
    --a-button-slide-second-line-height: 1;
    --a-button-slide-second-font-weight: 400;
    --a-button-slide-second-text-color: #{$color-white};
    --a-button-slide-second-gap: 14px;
    --a-button-slide-second-decoration-margin-left: 10px;
    --a-button-slide-second-decoration-height: 300px;
    --a-button-slide-second-decoration-width: 120%;
    --a-button-slide-second-animation-transform-default-state: translateX(-98%) translateY(-25%) rotate(45deg);
    --a-button-slide-second-animation-transform-hover: translateX(-9%) translateY(-25%) rotate(45deg);
    --a-button-slide-second-min-width: 250px;

  --a-button-slide-second-padding-xxs: #{$padding-xxs};
  --a-button-slide-second-padding-xs: #{$padding-xs};
  --a-button-slide-second-padding-s: #{$padding-s};
  --a-button-slide-second-padding-m: #{$padding-m};
  --a-button-slide-second-padding-l: #{$padding-l};
  --a-button-slide-second-padding-xl: #{$padding-xl};
  --a-button-slide-second-padding-xxl: #{$padding-xxl};

}

@mixin button_typography_primary {
    font-size: var(--a-button-slide-second-font-size);
    padding: var(--a-button-slide-second-padding);
    line-height: var(--a-button-slide-second-line-height);
    font-weight: var(--a-button-slide-second-font-weight);
    border-radius: var(--a-button-slide-second-border-radius);
}

.tertiary-button{
}

.btn_hover_left {
    @include button_typography_primary();
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    background-color: var(--a-button-slide-second-background);
    //box-shadow: 0 5px 15px var(--a-button-slide-second-background);
    box-shadow: $box-shadow-xxxl;
    min-width: var(--a-button-slide-second-min-width);

  &.padding-xxs{  padding: var(--a-button-slide-second-padding-xxs);  }
  &.padding-xs{  padding: var(--a-button-slide-second-padding-xs);  }
  &.padding-s{  padding: var(--a-button-slide-second-padding-s);  }
  &.padding-m{  padding: var(--a-button-slide-second-padding-m);  }
  &.padding-l{  padding: var(--a-button-slide-second-padding-l);  }
  &.padding-xl{  padding: var(--a-button-slide-second-padding-xl);  }
  &.padding-xxl{  padding: var(--a-button-slide-second-padding-xxl);  }

    .icon{
      z-index: 2;
  }

    span {
      &.reverse{
        flex-direction: row-reverse
    }
    display: flex;
    width: 100%;
    align-items: center;
      justify-content: center;
    position: relative;
    gap: var(--a-button-slide-second-gap);
    z-index: 1;
    color: var(--a-button-slide-second-text-color);
    }
  
    &:after {
      content: "";
      position: absolute;
      left: var(--a-button-slide-second-decoration-margin-left);
      top: 0;
      height: var(--a-button-slide-second-decoration-height);
      width: var(--a-button-slide-second-decoration-width);
      background: var(--a-button-slide-second-background-hover);
      -webkit-transition: all var(--a-button-slide-second-animation-transition-fast) ease-in-out;
      transition: all var(--a-button-slide-second-animation-transition) ease-in-out;
    }
  
    &:hover {
      color: var(--a-button-slide-second-background);
    }
  }

.btn_hover_left:after {
  -webkit-transform: var(--a-button-slide-second-animation-transform-default-state);
  transform: var(--a-button-slide-second-animation-transform-default-state);
}

  .btn_hover_left:hover:after {
    -webkit-transform: var(--a-button-slide-second-animation-transform-hover);
    transform: var(--a-button-slide-second-animation-transform-hover);
  }
  
  .link {
    margin-top: 30px;
  }
  
  
  