:root {
  --m-media-label-top-left-margin-top: 50px;
  --m-media-label-top-left-margin-left: 50px;
  --m-media-label-top-right-margin-top: 50px;
  --m-media-label-top-right-margin-right: 50px;
  --m-media-label-bottom-left-margin-bottom: 50px;
  --m-media-label-bottom-left-margin-left: 50px;
  --m-media-label-bottom-right-margin-top: 50px;
  --m-media-label-bottom-right-margin-right: 50px;
  --m-media-image-border-radius: unset;

  --m-media-image-object-fit: cover;
  --m-media-image-padding-bottom-mobile: 100%;
  --m-media-image-padding-bottom-tablet: 100%;
  --m-media-image-padding-bottom-desktop: 100%;
}

.m-media-image {
  max-width: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;


  .image-container{
    position: relative;
    padding-bottom: var(--m-media-image-padding-bottom-mobile);
    width: 100%;

    img{
      object-fit: var(--m-media-image-object-fit);
      border-radius: var(--m-media-image-border-radius);
      width: 100%;
      height: 100%;
    }
  }

  .label {
    position: absolute;
    z-index: 2;

    &.top-left {
      top: var(--m-media-label-top-left-margin-top);
      left: var(--m-media-label-top-left-margin-left);
    }

    &.top-right {
      top: var(--m-media-label-top-right-margin-top);
      right: var(--m-media-label-top-right-margin-right);
    }

    &.bottom-left {
      bottom: var(--m-media-label-bottom-left-margin-bottom);
      left: var(--m-media-label-bottom-left-margin-left);
    }

    &.bottom-right {
      bottom: var(--m-media-label-bottom-right-margin-top);
      right: var(--m-media-label-bottom-right-margin-right);
    }
  }
}


@media (min-width: 768px){
  .m-media-image{
    .image-container{
      padding-bottom: var(--m-media-image-padding-bottom-tablet);
    }
  }
}


@media (min-width: 992px){
  .m-media-image{
    .image-container{
      padding-bottom: var(--m-media-image-padding-bottom-desktop);
    }
  }
}