$primary-font: 'Inter', sans-serif;
$secondary-font: 'Inter', sans-serif;
$font-family-monospace: "Courier New", "Lucida Console", sans-serif;

$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 600;
$font-weight-xl: 800;