$font-size-p: clamp(1rem, 2.5vw, 1.1rem);
$font-size-h1: clamp(1.6rem, 4vw, 3rem);
$font-size-h2: clamp(1.4rem, 3.5vw, 2.7rem);
$font-size-h3: clamp(1.2rem, 3.25vw, 2.5rem);
$font-size-h4: clamp(1.1rem, 2.9vw, 2rem);
$font-size-h5: clamp(1rem, 2.7vw, 1.8rem);
$font-size-h6: clamp(0.8rem, 2.6vw, 1.6rem);

$font-size-label: 12px;
$font-size-buttons: clamp(0.9rem, 2vw, 1rem);

$font-size-main-link: clamp(1rem, 3.25vw, 1.2rem);
$font-size-secondary-link: clamp(1rem, 3.25vw, 1.1rem);

  .font-size-h1{font-size: $font-size-h1;}
  .font-size-h2{font-size: $font-size-h2;}
  .font-size-h3{font-size: $font-size-h3;}
  .font-size-h4{font-size: $font-size-h4;}
  .font-size-h5{font-size: $font-size-h5;}
  .font-size-h6{font-size: $font-size-h6;}



