@use '../../../styles/main.module.scss' as *;

:root{
    --a-button-slide-background: #{$tertiary-color};
    --a-button-slide-background-hover: #{$primary-color};
    --a-button-slide-animation-transition: 0.3s;
    --a-button-slide-border-radius: #{$border-radius-0};
    --a-button-slide-font-size: #{$font-size-buttons};
    --a-button-slide-line-height: 1;
    --a-button-slide-font-weight: 400;
    --a-button-slide-text-color: #{$color-white};
    --a-button-slide-gap: 15px;

    --a-button-slide-padding-xxs: #{$padding-xxs};
    --a-button-slide-padding-xs: #{$padding-xs};
    --a-button-slide-padding-s: #{$padding-s};
    --a-button-slide-padding-m: #{$padding-m};
    --a-button-slide-padding-l: #{$padding-l};
    --a-button-slide-padding-xl: #{$padding-xl};
    --a-button-slide-padding-xxl: #{$padding-xxl};
}

@mixin button_typography_primary {
    font-size: var(--a-button-slide-font-size);
    line-height: var(--a-button-slide-line-height);
    font-weight: var(--a-button-slide-font-weight);
    border-radius: var(--a-button-slide-border-radius);
}



.btn_hover_slide {
    @include button_typography_primary;
    position: relative;
    display: block;
    height: 100%;
    color: var(--a-button-slide-text-color);
    background-color: var(--a-button-slide-background-hover);
    border: none;
    cursor: pointer;
    //box-shadow: 0 5px 15px var(--a-button-slide-background);
    box-shadow: $box-shadow-xxxl;
    //todo de vaazut ce fac cu box-shadow-ul de la butonul cu slide
    
    &.padding-xxs{ span{ padding: var(--a-button-slide-padding-xxs); } }
    &.padding-xs{ span{ padding: var(--a-button-slide-padding-xs); } }
    &.padding-s{ span{ padding: var(--a-button-slide-padding-s); } }
    &.padding-m{ span{ padding: var(--a-button-slide-padding-m); } }
    &.padding-l{ span{ padding: var(--a-button-slide-padding-l); } }
    &.padding-xl{ span{ padding: var(--a-button-slide-padding-xl); } }
    &.padding-xxl{ span{ padding: var(--a-button-slide-padding-xxl); } }
    

    .icon{
        z-index: 2;
        display: inline-flex;
        
    }

    span {
        &.reverse{
            flex-direction: row-reverse
        }
        @include button_typography_primary;
        position: relative;
        display: flex;
        align-items: center;
        gap: var(--a-button-slide-gap);
        top: 0;
        left: 0;
    }
    &::before {
        position: absolute;
        content: "";
        background-color: var(--a-button-slide-background);
        transition: var(--a-button-slide-animation-transition) ease-out;
        border-radius: var(--a-button-slide-border-radius);
    }
}
@mixin slide_hover_paddings {
    padding: 0;
    margin: 0;
}
.btn_hover_slide.slide_down {
    @include slide_hover_paddings;
    &::before {
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    &:hover {
        &::before {
            height: 0%;
        }
    }
}

.btn_hover_slide.slide_up {
    @include slide_hover_paddings;
    &::before {
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    &:hover {
        &::before {
            height: 0%;
        }
    }
}

.btn_hover_slide.slide_right {
    @include slide_hover_paddings;

    &::before {
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    &:hover {
        &::before {
            width: 0%;
        }
    }
}

.btn_hover_slide.slide_left {
    @include slide_hover_paddings;
    &::before {
        top: 0;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &:hover {
        &::before {
            width: 0%;
        }
    }
}
