




/* !top */
.padding_top_0{
padding-top: unset;
}
.padding_top_xs{
padding-top: clamp(5px, 5vw, 25px);
}
.padding_top_s{
padding-top: clamp(10px, 5vw, 35px);
}
.padding_top_m{
padding-top: clamp(20px, 5vw, 50px);
}
.padding_top_l{
padding-top: clamp(30px, 5vw, 65px);
}
.padding_top_xl{
padding-top: clamp(40px, 5vw, 80px);
}
.padding_top_xxl{
padding-top: clamp(50px, 5vw, 100px);
}

/* !bottom */
.padding_bottom_0{
padding-bottom: unset;
}
.padding_bottom_xs{
padding-bottom: clamp(5px, 5vw, 25px);
}
.padding_bottom_s{
padding-bottom: clamp(10px, 5vw, 35px);
}
.padding_bottom_m{
padding-bottom: clamp(20px, 5vw, 50px);
}
.padding_bottom_l{
padding-bottom: clamp(30px, 5vw, 65px);
}
.padding_bottom_xl{
padding-bottom: clamp(40px, 5vw, 80px);
}
.padding_bottom_xxl{
padding-bottom: clamp(50px, 5vw, 100px);
}

/* !all */
.padding_0{
padding: unset;
}
.padding_xs{
padding: clamp(5px, 5vw, 25px) 0px;
}
.padding_s{
padding: clamp(10px, 5vw, 35px) 0px;
}
.padding_m{
padding: clamp(20px, 5vw, 50px) 0px;
}
.padding_l{
padding: clamp(30px, 5vw, 65px) 0px;
}
.padding_xl{
padding: clamp(40px, 5vw, 80px) 0px;
}
.padding_xxl{
padding: clamp(100px, 5vw, 100px) 0px;
}