@use '../../../styles/main.module.scss' as *;

:root{
  --o-media-and-paragraph-background-primary: #{$background-color-primary};
  --o-media-and-paragraph-background-secondary: #{$background-color-secondary};
  --o-media-and-paragraph-background-tertiary: #{$background-color-tertiary};
  --o-media-and-paragraph-background-custom: 'red';
  --o-media-and-paragraph-background-image: unset;
}

.o-media-and-paragraph{
  position: relative;
  background: var(--o-media-and-paragraph-background-custom);

  &.primary{
    background: var(--o-media-and-paragraph-background-primary);
  }
  &.secondary{
    background: var(--o-media-and-paragraph-background-secondary);
  }
  &.tertiary{
    background: var(--o-media-and-paragraph-background-tertiary);
  }

  .custom-background-image-container{
    position: relative;

    .has-background-image{
    background-image: var(--o-media-and-paragraph-background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    }
  }
}