@use '../../../styles/main.module.scss' as *;

:root{
  --o-interactive-panel-splide-background: transparent;
  --o-interactive-panel-buttons-container-gap: 12px;
  --o-interactive-panel-buttons-min-width: 270px;
  --o-interactive-panel-buttons-paddings: 20px 40px 20px 0px;
  --o-interactive-panel-splide-box-shadow: #{$box-shadow-xxl};
  --o-interactive-panel-splide-card-buttons-gap: 30px;
  --o-interactive-panel-splide-card-buttons-padding-bottom: 30px;
  --o-interactive-panel-splide-card-buttons-pagination-height: 10px;
  --o-interactive-panel-splide-card-buttons-pagination-margin-bottom: 40px;
  --o-interactive-panel-splide-card-buttons-pagination-page-width: 8px;
  --o-interactive-panel-splide-card-buttons-pagination-page-height: 8px;
  --o-interactive-panel-splide-card-buttons-pagination-default-background: rgba(81, 77, 77, 0.44);
  --o-interactive-panel-splide-card-buttons-pagination-active-background: #{$color-black};
  --o-interactive-panel-splide-card-padding: 0px 10px;
}


.o-interactive-panel{
  --a-button-slide-second-animation-transform-hover: translateX(-98%) translateY(-25%) rotate(45deg);
  overflow: hidden;

  .buttons-container{
	display: flex;
	gap: var(--o-interactive-panel-buttons-container-gap);
	--a-button-slide-second-min-width: var(--o-interactive-panel-buttons-min-width);
	//overflow: scroll; /* Change 'auto' to 'scroll' */
	width: 100%;
	//scroll-snap-type: x mandatory; /* Add scroll-snap properties */
	//padding: var(--o-interactive-panel-buttons-paddings);
	box-shadow: none;
	flex-direction: column;
	align-items: center;

	.btn_hover_left{
	  box-shadow: none;
	}

	&::-webkit-scrollbar {
	  width: 0;
	  height: 0;
	}



	.default{
	  transition: all $transition-duration-fast;
	}
	.active{
	  transition: all $transition-duration-fast;
	  .btn_hover_left:after {
		-webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
		transform: translateX(-9%) translateY(-25%) rotate(45deg);
	  }
	}
  }


  .splide{
	padding: unset;
	--m-card-image-height: 350px;
	background: var(--o-interactive-panel-splide-background);
	box-shadow: var(--o-interactive-panel-splide-box-shadow);

	border-radius: var(--m-card-border-radius);



	.m-card{
	  box-shadow: none;

	  .card-buttons-container{
		display: flex;
		gap: var(--o-interactive-panel-splide-card-buttons-gap);
		flex-wrap: wrap;
		margin: 0 auto;
		padding-bottom: var(--o-interactive-panel-splide-card-buttons-padding-bottom);
	  }
	}



	&__track{
	  background: transparent;
	border-radius: var(--m-card-border-radius);
	}

	&__slide{
	  background: transparent;
	border-radius: var(--m-card-border-radius);
	padding: var(--o-interactive-panel-splide-card-padding);
	}




	&__arrows{
	  display: none;
	}

	&__pagination{
	  z-index: 2;
	  height: var(--o-interactive-panel-splide-card-buttons-pagination-height);
	  margin-bottom: var(--o-interactive-panel-splide-card-buttons-pagination-margin-bottom);

	  &__page{
		border-radius: 50%;
		width: var(--o-interactive-panel-splide-card-buttons-pagination-page-width);
		height: var(--o-interactive-panel-splide-card-buttons-pagination-page-height);
		background: var(--o-interactive-panel-splide-card-buttons-pagination-default-background);

		&.is-active{
		  background: var(--o-interactive-panel-splide-card-buttons-pagination-active-background);
		}

	  }
	}
  }
}

@media (min-width: 768px){
  .o-interactive-panel{
	.buttons-container{
	  @include flex(column, center, center);
	  overflow: visible;

	}
  }
}