:root {
  --a-media-label-top-left-margin-top: 50px;
  --a-media-label-top-left-margin-left: 50px;
  --a-media-label-top-right-margin-top: 50px;
  --a-media-label-top-right-margin-right: 50px;
  --a-media-label-bottom-left-margin-bottom: 50px;
  --a-media-label-bottom-left-margin-left: 50px;
  --a-media-label-bottom-right-margin-top: 50px;
  --a-media-label-bottom-right-margin-right: 50px;
  --a-media-image-border-radius: unset;
}

.m-media-image {
  max-width: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;

  .label {
    position: absolute;

    &.top-left {
      top: var(--a-media-label-top-left-margin-top);
      left: var(--a-media-label-top-left-margin-left);
    }

    &.top-right {
      top: var(--a-media-label-top-right-margin-top);
      right: var(--a-media-label-top-right-margin-right);
    }

    &.bottom-left {
      bottom: var(--a-media-label-bottom-left-margin-bottom);
      left: var(--a-media-label-bottom-left-margin-left);
    }

    &.bottom-right {
      bottom: var(--a-media-label-bottom-right-margin-top);
      right: var(--a-media-label-bottom-right-margin-right);
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: var(--a-media-image-border-radius);
  }
}
