@use '../../../styles/main.module' as *;


:root {
	--m-video-progress-line-height: 5px;
	--m-video-fullscreen-icon-margin-right: 20px;
	--m-video-fullscreen-icon-margin-bottom: 20px;
	--m-video-border-radius: unset;
	--m-video-controls-gap: 24px;
	--m-video-controls-background: rgba(0, 0, 0, 0.308);
	--m-video-controls-border-radius: 30px;
	--m-video-controls-padding: 20px 50px;
	--m-video-controls-hover-animation: all 0.175s ease-in-out;
	--m-video-controls-container-height: auto;
	--m-video-controls-container-width: auto;
	--m-video-controls-icon-width: 20px;
	--m-video-controls-icon-height: 20px;
	--m-video-controls-icon-play-width: 30px;
	--m-video-controls-icon-play-height: 30px;
	--m-video-controls-fullscreen-padding: 8px;
	--m-video-controls-hover-scale: scale(1.5);
	--m-video-controls-default-scale: scale(1.2);
	--m-video-fullscreen-icon-color: white;
	--m-video-controls-icon-color: white;
	--m-video-controls-play-icon-color: #4cbfa6;

	//mobile
	--m-video-controls-icon-width-mobile: 10px;
	--m-video-controls-icon-height-mobile: 10px;
	--m-video-controls-icon-play-width-mobile: 13px;
	--m-video-controls-icon-play-height-mobile: 13px;
	--m-video-controls-padding-mobile: 10px 30px;
	--m-video-fullscreen-icon-margin-right-mobile: 5px;
	--m-video-fullscreen-icon-margin-bottom-mobile: 5px;
	--m-video-controls-container-margin-bottom-mobile: 5px;
  }


  .a-media-video {
	max-width: 100%;
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	justify-items: center;
	&.video-fullscreen{
		height: 100vh;
	}

	.video-container {
	  width: 100%;
	  height: 100%;
	  position: relative;

	  video {
		position: absolute;
		width: 100%;
		height: 100%;
		//top: 0;
		//left: 0;
		object-fit: var(--m-video-object-fit);
		border-radius: var(--m-video-border-radius);
	  }
	}

	.progress-line-container {
	  .progress-line {
		position: absolute;
		z-index: 10 !important;
		bottom: 0;
		left: 0;
		height: var(--m-video-progress-line-height);
		background: var(--m-video-progress-line-background);
	  }
	}

	.fullscreen-icon {
	  position: absolute;
	  right: var(--m-video-fullscreen-icon-margin-right-mobile);
	  bottom: var(--m-video-fullscreen-icon-margin-bottom-mobile);
	  cursor: pointer;
	  z-index: 5;
	  background-color: var(--m-video-controls-background);
	  padding: var(--m-video-controls-fullscreen-padding);
	  color: var(--m-video-fullscreen-icon-color);

	  .controls-icon {
		width: var(--m-video-controls-icon-width-mobile);
		height: var(--m-video-controls-icon-height-mobile);
	  }
	}

	.controls-container {
	  display: flex;
	  justify-content: center;
	  align-self: flex-end;
	  margin-bottom: var(--m-video-controls-container-margin-bottom-mobile);
	  width: 100%;
	  position: absolute;
	  z-index: 2;
	}

	.controls {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  gap: var(--m-video-controls-gap);
	  background-color: var(--m-video-controls-background);
	  border-radius: var(--m-video-controls-border-radius);
	  width: var(--m-video-controls-container-width);
	  height: var(--m-video-controls-container-height);
	  padding: var(--m-video-controls-padding-mobile);

	  .icon-container {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition: var(--m-video-controls-hover-animation);

		&:hover {
		  transform: var(--m-video-controls-hover-scale);
		  transition: var(--m-video-controls-hover-animation);
		}

		&:active {
		  transform: var(--m-video-controls-default-scale);
		  transition: var(--m-video-controls-hover-animation);
		}

		.controls-icon {
		  width: var(--m-video-controls-icon-width-mobile);
		  height: var(--m-video-controls-icon-height-mobile);
		  color: var(--m-video-controls-icon-color);

		  &.action-icon {
			width: var(--m-video-controls-icon-play-width-mobile);
			height: var(--m-video-controls-icon-play-height-mobile);
			color: var(--m-video-controls-play-icon-color);
		  }
		}
	  }

	  img {
		width: 100%;
		height: 100%;
	  }
	}
  }

  @media only screen and (min-width: 768px) {
	.a-media-video {
	  .fullscreen-icon {
		right: var(--m-video-fullscreen-icon-margin-right);
		bottom: var(--m-video-fullscreen-icon-margin-bottom);
	  }

	  .controls {
		.icon-container {
		  .controls-icon {
			width: var(--m-video-controls-icon-width);
			height: var(--m-video-controls-icon-height);

			&.action-icon {
			  width: var(--m-video-controls-icon-play-width);
			  height: var(--m-video-controls-icon-play-height);
			}
		  }
		}
	  }

	  .controls-container {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		margin-bottom: unset;

		.controls {
		  padding: var(--m-video-controls-padding);
		}
	  }
	}
  }
